header {
	background:none;
}
	
footer {
	background:maroon;
	position:fixed;
	bottom:0;
	width:100%;
	height:auto;
	padding:10px 0;
	font-size:1.2em;
}

footer a,
footer a:hover  {
	color:#fff;
	display:inline-block;
	padding:7px 7px 7px 0;
}

code {
	display:block;
	padding:10px;
	margin:0 0 10px 0;
}

span.tab {
	padding-left:40px;
}

pre {
    padding-left:20px;
}

#main {
    padding:0 0 50px 0;
}

